## <center> An√°lise da base de Alimentos Regularizados e Situa√ß√£o do Registro </center>

#### <center> üìà An√°lise Explorat√≥ria de Dados e An√°lise de Dados üìâ </center>

#### Importa√ß√£o da base

In [12]:
import pandas as pd
import chardet

# chardet para detectar a codifica√ß√£o do arquivo
with open("DADOS_ABERTOS_ALIMENTO.csv", 'rb') as f:
    resultado = chardet.detect(f.read())
    encoding_detectada = resultado['encoding']
    print(f"Codifica√ß√£o detectada: {encoding_detectada}")

# ler o arquivo CSV com a codifica√ß√£o detectada
df = pd.read_csv("DADOS_ABERTOS_ALIMENTO.csv", encoding=encoding_detectada, delimiter=';')
display(df)

Codifica√ß√£o detectada: Windows-1252

,NU_CNPJ_EMPRESA,NO_RAZAO_SOCIAL_EMPRESA,NO_PRODUTO,NU_PROCESSO,DS_TIPO_PRODUTO,DS_CATEGORIA_PRODUTO,DT_FINALIZACAO_PROCESSO,NU_REGISTRO_PRODUTO,DT_VENCIMENTO_REGISTRO,ST_SITUACAO_REGISTRO,Unnamed: 10
0,"7,51997E+13",IND E COM DE CONSERVAS FLORESTA LTDA,PALMITO EM CONSERVA,"2,50233E+12",ALIMENTO,VEGETAIS EM CONSERVA (PALMITO),04/27/2000 00:00:00,440840001,10/01/2003 00:00,Cancelado/Caduco,NaN
1,"7,51997E+13",IND E COM DE CONSERVAS FLORESTA LTDA,PALMITO EM CONSERVA,"2,50234E+12",ALIMENTO,VEGETAIS EM CONSERVA (PALMITO),04/27/2000 00:00:00,440840002,10/01/2003 00:00,Cancelado/Caduco,NaN
2,"7,6778E+13",TROPICAL DISTRIBUIDORA DE ALIMENTOS LTDA.,PALMITO REAL EM CONSERVA,"2,5023E+12",ALIMENTO,VEGETAIS EM CONSERVA (PALMITO),01/02/2002 00:00,571680004,12/01/2006 00:00,Cancelado/Caduco,NaN
3,"1,02582E+12",LEONECIO GRIBOSKI LTDA ME,PALMITO EM CONSERVA,"2,5024E+16",ALIMENTO,VEGETAIS EM CONSERVA (PALMITO),06/25/2007 00:00:00,621300002,06/01/2012 00:00,Cancelado/Caduco,NaN
4,"2,79153E+12",MUANA ALIMENTOS LTDA,PALMITO DE A√áAI EM CONSERVA,"2,501E+12",ALIMENTO,VEGETAIS EM CONSERVA (PALMITO),02/25/2000 00:00:00,622200006,04/01/2005 00:00,Cancelado/Caduco,NaN
...,...,...,...,...,...,...,...,...,...,...,...
26324,"6,25722E+11",ANGULO AGRO INDUSTRIAL LTDA,SAL GROSSO IODADO,"2,5004E+12",ALIMENTO,CATEGORIA NAO CADASTRADA,09/06/1993 00:00,495390013,09/01/2003 00:00,Cancelado/Caduco,NaN
26325,"4,13391E+12",ALIMENTICIO INTERNACIONAL DE CACAU SA - INTERC...,CHOCOLATE EM PO,"2,5004E+12",ALIMENTO,CATEGORIA NAO CADASTRADA,03/17/1994 00:00:00,479310012,03/01/2004 00:00,Cancelado/Caduco,NaN
26326,"5,85009E+12",RIOMAR CONSERVAS LTDA,MECTAR DE FRUTAS DA AMAZONIA,"2,501E+12",ALIMENTO,CATEGORIA NAO CADASTRADA,05/19/1994 00:00:00,403430032,05/01/2004 00:00,Cancelado/Caduco,NaN
26327,"3,21245E+11",SKW BIOSYSTEMS DO BRASIL LTDA,MISTURA ANTIOXIDANTE PARA FINS ALIMENTICIOS,"2,5004E+12",ALIMENTO,CATEGORIA NAO CADASTRADA,04/11/1994 00:00,495860091,04/01/2004 00:00,Cancelado/Caduco,NaN
26328,"7,20164E+12",INDUSTRIA DE BEBIDAS E CONDIMENTOS LORD LTDA,TEMPERO COMPLETO,"2,5016E+12",ALIMENTO,CATEGORIA NAO CADASTRADA,04/19/1994 00:00:00,445670022,01/01/2004 00:00,Cancelado/Caduco,NaN